nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #1f1818;
  gap: 45px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

nav a:hover {
  color: cadetblue;
}

nav a svg {
  margin-right: 5px;
}
